@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.card {
    font-family: Noto Sans JP;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: white;
    overflow-wrap: break-word;
}

.card-type {
    font-size: 20px;
    color: #777;
}

.card-type .card-type-symbol {
}

.card-type .card-type-hint {
    font-size: 12px;
}

.japanese {
    margin-top: 10px;
}

.furigana ruby rt {
    color: #bbb;
}

.english {
    margin-top: 10px;
    font-size: 18px;
    color: #aaa;
}

.answer {
    margin-top: 30px;
}

.type {
    font-size: 22px;
    color: #72B9FF;
}

.additional-information {
    margin-top: 10px;
    font-size: 10px;
    color: #777;
    font-weight: bold;
}

.supplemental-information {
    margin-top: 10px;
    font-size: 8px;
    color: #777;
}

.jlpt-level {
    padding-left: 5px;
    font-weight: bold
}

.inflection {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
    text-align: left;
}

.inflection-name {
    font-size: 10px;
    color: #777;
}

.cols-2 {
    column-count: 2;
    text-align: left;
    column-gap: 10px;
}

.inflections-header {
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #777;
}

.jisho {
    margin-top: 30px;
    font-size: 20px;
}

.jisho a {
    color: #56d926;
}

ruby rt {
    visibility: hidden;
}

.furigana-toggle {
    text-align: center;
    background-color: #72B9FF;
    position: fixed;
    right: 0px;
    bottom: 100px;
    width: 100px;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0.8;
}

.furigana-toggle a {
    font-size: 25px;
    color: #FFF;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.show-button {
    visibility: hidden;
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #72B9FF;
}

.conjugation-hidden {
    position: relative;
}

.conjugation-hidden .solution {
    visibility: hidden;
}

.conjugation-hidden .show-button {
    visibility: visible;
}

.show-all-button {
    margin-top: 20px;
    font-size: 15px;
}

.show-all-button a {
    color: #fff;
    background-color: #bababa;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}